@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
@import "./formacao.css";
@import "./footer.css";

.anime{
    opacity: 0;
}

.anime-init{
    opacity: 1;
    transition: 0.3s all ease;
}





